<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="index.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="layout-wrapper">
            <div class="layout-edit">
                <h3><span>Define your experiment:</span></h3>
                <span>Input definitions:</span>
                <br />
                <textarea v-model="param_input_defns" :disabled=is_edit_disabled></textarea>
                <br />
                <span>Action definitions:</span>
                <br />
                <textarea v-model="param_action_defns" :disabled=is_edit_disabled></textarea>
                <br />
                <span>Input-Action-Reward definitions:</span>
                <br />
                <textarea v-model="param_input_action_reward_defns"  :disabled=is_edit_disabled></textarea>
                <br />
                <input type="radio" id="mode" value="edit" v-model="ui_mode">
                <label for="edit">Edit</label>
                <input type="radio" id="mode" value="run" v-model="ui_mode">
                <label for="run">Run</label>
                <button :disabled=is_step_disabled>Step</button>
            </div>
            <div class="layout-sim">
                <span>debug:</span>
                <br />
                <pre>{{ param_input_defns }}</pre>
                <pre>{{ param_action_defns }}</pre>
                <pre>{{ param_input_action_reward_defns }}</pre>
            </div>
        </div>
    </div>
<script src="index.js"></script>
</body>
</html>